<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js" integrity="sha512-DZqqY3PiOvTP9HkjIWgjO6ouCbq+dxqWoJZ/Q+zPYNHmlnI2dQnbJ5bxAHpAMw+LXRm4D72EIRXzvcHQtE8/VQ==" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <title>Boolfix</title>
  </head>
  <body>
    <div class="root">
      <header>
        <div class="left">
          <h1>Boolflix</h1>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Serie Tv</a></li>
            <li><a href="#">Film</a></li>
            <li><a href="#">Nuovi e popolari</a></li>
            <li><a href="#">La mia lista</a></li>
          </ul>
        </div>
        <div class="right">
          <input v-model="filmTitle" placeholder="Inserisci il titolo del film">
          <i @click="searchfilm" id="search" class="fas fa-search"></i>
          <img id="profile-avatar" src="https://cdn1.iconfinder.com/data/icons/avatars-55/100/avatar_profile_user_music_headphones_shirt_cool-512.png" alt="profile-avatar">
        </div>
      </header>
      <div class="container-film">
        <div v-for="film in films"class="film">
          <img :src='address+film.poster_path' alt="">
          <div class="layover">
            <p>Titolo: <span>{{film.title}}</span></p>
            <p>Titolo originale: <span>{{film.original_title}}</span></p>
            <p>Voto:
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </>
            <p>Overview: <span>{{film.overview}}</span></p>
          </div>
        </div>
      </div>
    </div>
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
